body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-theme {
  --clr-body: #252323;
  --clr-card: #5c5c5c;
  --clr-text: #ffffffc9;
}

.light-theme {
  --clr-body: #e9e9e9;
  --clr-card: #ffffff;
  --clr-text: #000000;
}

body {
  background-color: var(--clr-body) !important;
}

.card {
  background-color: var(--clr-card) !important;
  color: var(--clr-text) !important;
}

.btn {
  background-color: var(--clr-text) !important;
  color: var(--clr-body) !important;
}